
#TOC {
    position: fixed;
    width: 20em;
    left: -1em;
    top: 0;
    height: 100%;
    background-color: white;
    overflow-y: scroll;
    padding: 0;
}
#subsec\:TableofContents {
    display: none;
}
body {
    padding-left: 20em;
}
@media (max-width:800px){
    #TOC {display:none; width: 0em;}
    body {padding-left: 0em;}
}
code {
    color: #000;
    font-family: monospace;
    background: #f4f4f4;
}
tr:nth-of-type(odd) {
    background-color:#f0f0ff;
}
